# Python related files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
.env/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Ignore data files (raw and processed)
data/*
!data/README.md  # 保留用于描述数据集的文档

# Ignore logs and temporary files
logs/
*.log
*.tmp
*.temp
*.swp

# System files
.DS_Store
Thumbs.db

# Ignore models and intermediate output files
results/
models/
*.model
