numpy==1.23.5
scipy==1.12.0
pandas==1.5.3
torch
torchvision
torchaudio==2.2.1
tensorflow-macos
sentence-transformers==3.2.1
transformers>=4.41.0,<5.0.0
gensim==4.3.3
umap-learn==0.5.3
BERTopic==0.11.0
spacy==3.7.4
spacy-langdetect
matplotlib==3.7.1
filelock==3.16.1
protobuf>=3.20.3,<4.21
tqdm==4.67.0
beautifulsoup4==4.12.2
requests==2.31.0
bs4==0.0.1
pytorch-lightning==2.0.6
pyLDAvis